.panel {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 2;
  }
  .panel > section {
    width: 90%;
    height: 300px;
    background: #DDDDDD;
    margin: 0 auto;
    text-align: left;
    padding: 1em 1em;
    overflow: scroll;
  }
  .panel > nav {
    height: 50px;
    margin-top: 10px;
  }
  .panel > nav > button {
    padding: 1em 1em;
    border-radius: 5px;
  }

  .form {
    padding: 1% 1% 1% 1%;
    border: 1px solid black;
    width: 25%;
  }
  .form > div {
    margin-bottom: 3%;
  }
  .form > div > label {
    
    width: 50%;
    display: inline-block;
  }
  .form > .button{
    text-align: center;
    margin-top: 10%;
  }
  
  .hideBar {
    transform:  translate(-50%, -330px);
    transition: transform 0.5s linear;
  }
  
  .showBar {
    transition: transform 0.5s linear;
  }
