.song-container {
  display: block;
  text-align: center;
  width: 100%;
  overflow: hidden;
  background: white;
}


h3 {
  margin-bottom: 0;
}

#boo {
  margin: 1em 1em;
  border: 1px solid black;
}

/* Highlight class for active note */
.note-highlight path,
.note-highlight rect,
.note-highlight text {
  fill: red !important;
  stroke: red !important;
}