

.svg {
  margin-top: 10px;
  background-color: #555555;
  display: block;
}

.container {
  width: 100%;
}

.song-container {
  display: block;
  text-align: center;
  width: 100%;
  overflow: hidden;
  background: white;
}

circle {
  fill: white;
  opacity: 0.3;
}

h3 {
  margin-bottom: 0;
}

#boo {
  margin: 1em 1em;
  border: 1px solid black;
}

.panel {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}
.panel > section {
  width: 90%;
  height: 300px;
  background: #DDDDDD;
  margin: 0 auto;
  text-align: left;
  padding: 1em 1em;
  overflow: scroll;
}
.panel > nav {
  height: 50px;
  margin-top: 10px;
}
.panel > nav > button {
  padding: 1em 1em;
  border-radius: 5px;
}

.hideBar {
  transform:  translate(-50%, -330px);
  transition: transform 0.5s linear;
}

.showBar {
  transition: transform 0.5s linear;
}
