

.svg {
  margin-top: 10px;
  background-color: #555555;
  display: block;
}

.container {
  width: 100%;
}

.panel {
  display: block;
  width: 100%;
  text-align: center;
}
.song-container {
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  background: white;
}

circle {
  fill: white;
  opacity: 0.3;
}

h3 {
  margin-bottom: 0;
}

#boo {
  margin: 1em 1em;
  border: 1px solid black;
}